In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import os

In [6]:
df_path = os.path.join('data', 'Flight-Price.xlsx')

df = pd.read_excel(df_path)
df.head()

,Unnamed: 0,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13108 entries, 0 to 13107
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       13108 non-null  int64
 1   Airline          13108 non-null  object
 2   Date_of_Journey  13108 non-null  object
 3   Source           13108 non-null  object
 4   Destination      13108 non-null  object
 5   Route            13107 non-null  object
 6   Dep_Time         13108 non-null  object
 7   Arrival_Time     13108 non-null  object
 8   Duration         13108 non-null  object
 9   Total_Stops      13107 non-null  object
 10  Additional_Info  13108 non-null  object
 11  Price            10463 non-null  float64
dtypes: float64(1), int64(1), object(10)
memory usage: 1.2+ MB

In [8]:
df.isna().sum()

Unnamed: 0            0
Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2645
dtype: int64

In [9]:
df.duplicated().value_counts()

False    13108
Name: count, dtype: int64

In [12]:
df = df.dropna()
df[['Date_of_Journey']] = df[['Date_of_Journey']].apply(pd.to_datetime)
df['day'] = df['Date_of_Journey'].dt.day.astype(int)
df['month'] = df['Date_of_Journey'].dt.month.astype(int)
df['year'] = df['Date_of_Journey'].dt.year.astype(int)
df = df.drop(columns=['Date_of_Journey'])

In [46]:
df[['Dep_Hr', 'Dep_Min']] = df['Dep_Time'].str.split(':', expand=True).astype(int)
df['Arrival_Time'] = df['Arrival_Time'].str.split(' ').str[0]
df[['Arr_Hr', 'Arr_Min']] = df['Arrival_Time'].str.split(':', expand=True).astype(int)
df = df.drop(columns=['Dep_Time', 'Arrival_Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10462 entries, 0 to 10462
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10462 non-null  int64
 1   Airline          10462 non-null  object
 2   Source           10462 non-null  object
 3   Destination      10462 non-null  object
 4   Route            10462 non-null  object
 5   Duration         10462 non-null  object
 6   Total_Stops      10462 non-null  object
 7   Additional_Info  10462 non-null  object
 8   Price            10462 non-null  float64
 9   day              10462 non-null  int64
 10  month            10462 non-null  int64
 11  year             10462 non-null  int64
 12  Dep_hr           10462 non-null  int64
 13  Dep_min          10462 non-null  int64
 14  Dep_Hr           10462 non-null  int64
 15  Dep_Min          10462 non-null  int64
 16  Arr_Hr           10462 non-null  int64
 17  Arr_Min          10462 non-null  int64
dtypes: float64(1), int64(10), object(7)
memory usage: 1.5+ MB

In [54]:
df['Duration'] = df['Duration'].fillna('0h 0m')
df[['Duration_hr', 'Duration_min']] = df['Duration'].str.replace('h', '').str.replace('m', '').str.split(':', expand=True).fillna(0).astype(int)
df = df.drop(columns=['Duration'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10462 entries, 0 to 10462
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       10462 non-null  int64
 1   Airline          10462 non-null  object
 2   Source           10462 non-null  object
 3   Destination      10462 non-null  object
 4   Route            10462 non-null  object
 5   Total_Stops      10462 non-null  object
 6   Additional_Info  10462 non-null  object
 7   Price            10462 non-null  float64
 8   day              10462 non-null  int64
 9   month            10462 non-null  int64
 10  year             10462 non-null  int64
 11  Dep_hr           10462 non-null  int64
 12  Dep_min          10462 non-null  int64
 13  Dep_Hr           10462 non-null  int64
 14  Dep_Min          10462 non-null  int64
 15  Arr_Hr           10462 non-null  int64
 16  Arr_Min          10462 non-null  int64
 17  Duration_hr      10462 non-null  int64
 18  Duration_min     10462 non-null  int64
dtypes: float64(1), int64(12), object(6)
memory usage: 1.6+ MB

In [57]:
print(df['Airline'].unique())
print(df['Total_Stops'].unique())
print(df['Additional_Info'].unique())
print(df['Source'].unique())
print(df['Destination'].unique())

['IndiGo' 'Air India' 'Jet Airways' 'SpiceJet' 'Multiple carriers' 'GoAir'
 'Vistara' 'Air Asia' 'Vistara Premium economy' 'Jet Airways Business'
 'Multiple carriers Premium economy' 'Trujet']
['non-stop' '2 stops' '1 stop' '3 stops' '4 stops']
['No info' 'In-flight meal not included' 'No check-in baggage included'
 '1 Short layover' 'No Info' '1 Long layover' 'Change airports'
 'Business class' 'Red-eye flight' '2 Long layover']
['Banglore' 'Kolkata' 'Delhi' 'Chennai' 'Mumbai']
['New Delhi' 'Banglore' 'Cochin' 'Kolkata' 'Delhi' 'Hyderabad']